.construction_page {
    display: flex;
    width: 100vw;
    height: calc(100vh - 290px);
    background-image: url("../images/construction_extended.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.construction_text_top {
    width: 100%;
    position: absolute;
    top: 200px;
    text-align: center;
    color: #fff773;
    font-family: 'Brush Script MT', cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
}

.construction_text_bottom {
    width: 100%;
    position: absolute;
    bottom: 200px;
    text-align: center;
    color: #fff773;
    font-family: 'Brush Script MT', cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
}